<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="http://ajax.aspnetcdn.com/ajax/knockout/knockout-3.4.2.js"></script>
    <script
        src="https://code.jquery.com/jquery-3.3.1.js"
        integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
        crossorigin="anonymous"></script>
    <script src="https://code.angularjs.org/1.7.2/angular.js"></script>
    
    <link rel="stylesheet" type="text/css" href="https://cdn3.devexpress.com/jslib/18.1.4/css/dx.common.css" />
    <link rel="stylesheet" type="text/css" href="https://cdn3.devexpress.com/jslib/18.1.4/css/dx.light.css" />
    <script type="text/javascript" src="https://cdn3.devexpress.com/jslib/18.1.4/js/dx.all.js"></script>
</head>
<body>
    <pre>
    DevExtreme - Display a message

Create the dxButton widget in a simple HTML page. Display the “Hello” message in the alert window when the button is clicked. Implement it using:
a.Knockout approach
b.jQuery approach
c.Angular approach
    </pre>
    <hr/>
    Native button:
    <button class="buttonNative">native button</button>
    <script>
        'use strict';
        (function() {
            document.querySelector('.buttonNative').addEventListener('click', () => alert('hi'));
        })();
    </script>

    <hr/>
    dxButton:
    <div class="dxButton"></div>
    <script>
        'use strict';
        (function() {
            const dxButton = new DevExpress.ui.dxButton(document.querySelector('.dxButton'), {
                text: 'Click me',
                type: 'danger',
                icon: 'https://image.flaticon.com/icons/svg/565/565357.svg',
                onClick: () => {
                    alert('Мы к вам приехали на час!');
                }
            });
        })();
    </script>
    
    <hr/>
    Knockout:
    <div class=".knockoutContainer" >
        <mycomponent params="buttonCaption: buttonCaption; message: message"></mycomponent>
        <!-- <div data-bind="dxButton: {text: 'Click me'}"></div> -->
    </div>
    <script>
        'use strict';
        (function() {
            class myModel {
                constructor(params) {
                    this.buttonCaption = params.buttonCaption;
                    this.message = params.message;
                }
                clickMe() {
                    alert('Привет!');
                }
            };

            ko.components.register('mycomponent', {
                viewModel: myModel,
                template: `<div data-bind="dxButton: {text: buttonCaption, click: clickMe }"></div>`,
            });

            const model = {
                buttonCaption: ko.observable('Click me'),
                message: ko.observable('Привет!'),
                onClick: () => {debugger;},
            };

            ko.applyBindings(model, document.querySelector('.knockoutContainer'));
        })();
        // 'use strict';
        // (function() {
        //     class myModel {
        //         constructor(params) {
        //             this.message = params.message;
        //         }
        //         clickMe() {
        //             alert(message);
        //         }
        //     };

        //     ko.components.register('mycomponent', {
        //         viewModel: myModel,
        //         template: `<button data-bind="click: clickMe">click me</button>`,
        //     });
        //     ko.applyBindings(
        //         {
        //             message: ko.observable('Привет!')
        //         },
        //         document.querySelector('.knockoutContainer'));
        // })();
    </script>

    <hr/>
    jQuery:
    <div class="jqueryContainer">
    </div>
    <script>
        'use strict';
        (function () {
            $('.jqueryContainer').dxButton({
                text: 'Click me',
                icon: 'https://image.flaticon.com/icons/svg/565/565357.svg',
                onClick: () => {
                    alert('Бонжур!');
                }
            });
        })();
    </script>
        
    <script>
        'use strict';
        const myApp = angular.module('app1',[]);
    </script>
    <hr/>
    AngularJS 1:
    <button data-ng-click="alert('Хеллоу!')">ClickMe</button>

    <hr/>
    AngularJS 2:
    <button data-ng-click="clickMe()">ClickMe</button>
    <script>
        'use strict';
        (function () {
            myApp.controller('MyController1', ['$scope', MyController1]);

            function MyController1($scope) {
                $scope.message = 'Привет!';

                $scope.clickMe = () => {
                    alert($scope.message);
                }
            }
        })();
    </script>

    <hr/>
    Angular6:
</body>
</html>