<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

    <!-- https://js.devexpress.com/Documentation/Guide/Getting_Started/Installation/CDN_Services/ -->

    <!-- DevExtreme dependencies -->
    <script type="text/javascript" src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.1.0.min.js"></script>
    <!-- The AngularJS library -->
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.11/angular.min.js"></script>
    <!-- The Knockout library -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/knockout/3.4.0/knockout-min.js"></script>
    <!-- DevExtreme themes -->
    <link rel="stylesheet" type="text/css" href="https://cdn3.devexpress.com/jslib/18.1.3/css/dx.common.css" />
    <link rel="stylesheet" type="text/css" href="https://cdn3.devexpress.com/jslib/18.1.3/css/dx.light.css" />
    <!-- A DevExtreme library -->
    <script type="text/javascript" src="https://cdn3.devexpress.com/jslib/18.1.3/js/dx.all.js"></script>
</head>
<body>
    <pre>
    DevExtreme - Display a message

Create the dxButton widget in a simple HTML page. Display the “Hello” message in the alert window when the button is clicked. Implement it using:
a.Knockout approach
b.jQuery approach
c.Angular approach
    </pre>
    <hr/>
    &ltbutton&gt:
    <button class="buttonNative">native button</button>
    <script>
        'use strict';
        (function() {
            document.querySelector('.buttonNative').addEventListener('click', () => alert('hi'));
        })();
    </script>

    <hr/>
    new DevExpress.ui.dxButton:
    <div class="dxButton"></div>
    <script>
        'use strict';
        (function() {
            const dxButton = new DevExpress.ui.dxButton(document.querySelector('.dxButton'), {
                text: 'Click me',
                type: 'danger',
                icon: 'https://image.flaticon.com/icons/svg/565/565357.svg',
                onClick: () => {
                    alert('Мы к вам заехали на час,');
                }
            });
        })();
    </script>
    
    <hr/>
    Knockout component:
    <div class=".knockoutContainer" >
        <mycomponent params="buttonCaption: buttonCaption, message: message, clickMeHandler: clickMe"></mycomponent>
        <div data-bind="dxButton: {text: 'Click me2', onClick: () => alert('hi')}"></div>
    </div>
    <script>
        /*
        https://js.devexpress.com/Documentation/16_1/Guide/UI_Widgets/Basics/Widget_Basics_-_Knockout
        - from this topic it is not clear how to handle widget events when I am using components
        */
        'use strict';
        (function() {
            class MyModel {
                constructor(params) {
                    this.buttonCaption = params.buttonCaption;
                    this.message = params.message;
                    this.clickMe = params.clickMeHandler;
                }
                clickMe() {
                    this.clickMe();
                }
            };

            ko.components.register('mycomponent', {
                viewModel: MyModel,
                template: `
                    <div data-bind="dxButton: {text: buttonCaption, onClick: clickMe, icon: 'https://image.flaticon.com/icons/svg/565/565355.svg'}"></div>
                    <label>Message:<input data-bind="textInput: message"/></label>
                    <label>Button caption:<input data-bind="textInput: buttonCaption"/></label>
                `,
            });

            const model = {
                buttonCaption: ko.observable('Click me'),
                message: ko.observable('Привет!'),
                clickMe() { alert(this.message()); }
            };

            ko.applyBindings(model, document.querySelector('.knockoutContainer'));
        })();
    </script>

    <hr/>
    jQuery:
    <div class="jqueryContainer">
    </div>
    <script>
        'use strict';
        (function () {
            $('.jqueryContainer').dxButton({
                text: 'Click me',
                icon: 'https://image.flaticon.com/icons/svg/565/565350.svg',
                onClick: () => {
                    alert('Бонжур!');
                }
            });
        })();
    </script>
        
    <hr/>
    AngularJS 1:
    <!-- 
    
        doesn't work
        
    <div data-ng-app="app1">
        <div dx-button="{ text: 'Click me' }">ClickMe</div>
    </div>
    <script>
        'use strict';
        const myApp = angular.module('app1', ['dx']);
    </script> -->

    <hr/>
    AngularJS 2:
    <div ng-app="app2">
        <div ng-controller="App2MyController1">
            <div dx-button="buttonOptions"></div>
            <label>Message:<input ng-model="message"/></label>
            <label>Button caption:<input ng-model="buttonCaption"/></label>
        </div>
        <div dx-button="{ text: 'Click me2 - doesnt\'t work', onClick: alert('hi') }"></div>
    </div>

    <script>
        'use strict';
        const myApp = angular.module('app2', ['dx']);
        (function () {
            myApp.controller('App2MyController1', ['$scope', App2MyController1]);

            function App2MyController1($scope) {
                $scope.message = 'Привет!';
                $scope.buttonCaption = 'Click me';
                $scope.buttonOptions = {
                    icon: 'https://image.flaticon.com/icons/svg/565/565412.svg',
                    bindingOptions: {
                        text: 'buttonCaption',
                    },
                    onClick: () => {
                        alert($scope.message);
                    },
                }
            }
        })();
    </script>

    <hr/>
    Angular6: <a href="https://stackblitz.com/edit/internal-training-task31-devextreme?file=src%2Fapp%2Fapp.component.ts">https://stackblitz.com/edit/internal-training-task31-devextreme?file=src%2Fapp%2Fapp.component.ts</a>
</body>
</html>