<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>task 28 AngularJS</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://code.angularjs.org/1.7.2/angular.js"></script>
    <style>
    </style>
</head>
<body data-ng-app="app1">
    <pre>
    AngularJS - Calculated values

Your scope has the following options:

$scope.firstName:‘John’;
$scope.lastName:‘Doe’;

Add two inputs which values will be bound to these options.
Add a div element below the inputs and display concatenated name (firstName + lastName).
Make sure that when you change one of the input, all changes are displayed in your div
    </pre>

    <hr>
    <div data-ng-controller="MyController1">
        Modify values: <br/>
        <p>First:<input ng-model="first"/></p>
        <p>Last:<input ng-model="last"/></p>
        <button data-ng-click="changeFirst()">Change first</button>
        <hr/>
        View values: <br/>
        <p>ng-bind: <span ng-bind="first"></span> <span ng-bind="last"></span></p>
        <p>double braces properties: {{first}} {{last}}</p>
        <p>double braces function: {{getFullName()}}</p>
        <p>ng-model: <input ng-model="first" readonly></input></p>
        <button data-ng-click="showValues()">Show values</button>
        <script>
            'use strict';
            const myApp = angular.module('app1',[]);

            (function () {
                'use strict';
                myApp.controller('MyController1', ['$scope', MyController1]);
                
                function MyController1($scope) {
                    $scope.first = 'John';
                    $scope.last = 'Doe';

                    $scope.changeFirst = () => {
                        $scope.first += '+';
                    };

                    $scope.showValues = () => {
                        alert(`first: "${$scope.first}", last: "${$scope.last}"`);
                    };
                    $scope.getFullName = () => {
                        return `${$scope.first} ${$scope.last}`; //can be a dubious practice in some circumstances
                    };
                    //$scope.$watch('first', - seems to be a dubious practice
                }
            })()
        </script>
    </div>
</body>
</html>