<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

    <!-- https://js.devexpress.com/Documentation/Guide/Getting_Started/Installation/CDN_Services/ -->

    <!-- DevExtreme dependencies -->
    <script type="text/javascript" src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.1.0.js"></script>
    <!-- The AngularJS library -->
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.11/angular.js"></script>
    <!-- The Knockout library -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/knockout/3.4.0/knockout-debug.js"></script>
    <!-- DevExtreme themes -->
    <link rel="stylesheet" type="text/css" href="https://cdn3.devexpress.com/jslib/18.1.3/css/dx.common.css" />
    <link rel="stylesheet" type="text/css" href="https://cdn3.devexpress.com/jslib/18.1.3/css/dx.light.css" />
    <!-- A DevExtreme library -->
    <script type="text/javascript" src="https://cdn3.devexpress.com/jslib/18.1.3/js/dx.all.debug.js"></script>
</head>
<body>
    <pre>
    DevExtreme - Validation

Put two dxTextBox widgets with dxCheckBox and dxButton.
When the button is clicked, the first textbox should be always validated.
The second textbox should be validated only when the checkbox is checked.
The task should be implemented using the following approaches:

a.Knockout approach
b.jQuery approach
c.Angular approach

    <hr/>
    <p>javascript/DOM</p>
    todo 
    <hr/>
    <p>javascript + dx:</p>
    <div class="jsdx">
        <div  style="display: flex; flex-direction: column;">
            <label>Text1:<div class="data1__text"></div></label>
            <label>Validate text2:<div class="data2__check"></div></label>
            <label>Text2:<div class="data2__text"></div></label>
            <label>Validate text3:<div class="data3__check"></div></label>
            <label>Text3:<div class="data3__text"></div></label>
        </div>
        <div class="button_validate"></div>
        <div class="validationSummary"></div>
        <div class="button"></div>
        <div class="values"></div>
    </div>
    <script>
        'use strict';
        (function() {
            const rootEl = document.querySelector('.jsdx');

            const validationGroup = 'jsdx';
            let data1__text = '11';
            const dxData1Text = new DevExpress.ui.dxTextBox(rootEl.querySelector('.data1__text'), {
                value: data1__text,
                onValueChanged: e => data1__text = e.value,
            });
            const dxData1Validator = new DevExpress.ui.dxValidator(rootEl.querySelector('.data1__text'), {
                validationGroup,
                validationRules: [ { type: 'required' } ]
            });
            dxData1Validator.validate();

            let data2__needValidation = true;
            const dxData2Check = new DevExpress.ui.dxCheckBox(rootEl.querySelector('.data2__check'), {
                value: data2__needValidation,
                onValueChanged: e => {
                    data2__needValidation = e.value;
                    dxData2Validator.validate();
                }
            });
            let data2__text = '2222';
            const dxData2Text = new DevExpress.ui.dxTextBox(rootEl.querySelector('.data2__text'), {
                value: data2__text,
                onValueChanged: e => data2__text = e.value,
            });
            const dxData2Validator = new DevExpress.ui.dxValidator(rootEl.querySelector('.data2__text'), {
                validationGroup,
                validationRules: [ { type: 'required' } ],
                onInitialized: (e) => {
                    const bypass_base = e.component.option('adapter').bypass;
                    e.component.option('adapter').bypass = function() {
                        if(data2__needValidation) {
                            return bypass_base.apply(this, arguments);
                        }
                        else {
                            return true;
                        }
                    }
                },
            });
            dxData2Validator.validate();

            let data3__needValidation = true;
            const dxData3Check = new DevExpress.ui.dxCheckBox(rootEl.querySelector('.data3__check'), {
                value: data3__needValidation,
                onValueChanged: e => {
                    data3__needValidation = e.value;
                    dxData3Validator.validate();
                },
            });
            let data3__text = '333333';
            const dxData3Text = new DevExpress.ui.dxTextBox(rootEl.querySelector('.data3__text'), {
                value: data3__text,
                onValueChanged: (e) => {
                    data3__text = e.value;
                },
            });
            const dxData3Validator = new DevExpress.ui.dxValidator(rootEl.querySelector('.data3__text'), {
                validationGroup,
                validationRules: [ 
                    { 
                        type: 'custom',
                        validationCallback: () => { 
                            if(data3__needValidation) {
                                return Boolean(dxData3Text.option('text')/*data3__text???*/);
                             }
                             else {
                                 return true;
                             }
                        },
                        message: 'My Required',
                        //
                        // the 'required' rule is evaluated each time the 'validate' method is called.
                        // but in my custom rule I have to specify this option explicitly
                        //
                        reevaluate: true,
                    }
                ],
            });
            dxData3Validator.validate();

            new DevExpress.ui.dxButton(rootEl.querySelector('.button_validate'), {
                text: 'Show summary',
                validationGroup,
                //
                // How to show validation summary on load ???
                //
                onClick: e => e.validationGroup.validate(),
            });
            
            new DevExpress.ui.dxValidationSummary(rootEl.querySelector('.validationSummary'), {
                validationGroup,
            });

            //
            // My often typo:
            //
            // new DevExpress.ui.dxButton(rootEl.querySelector('validate__button'), {
            //
            // new DevExpress.ui.dxButton(null, {}) - works without any error.
            // several times it took significant time to find why a widget doesn't work at all.
            //
            const dxButton = new DevExpress.ui.dxButton(rootEl.querySelector('.button'), {
                text: 'Show values',
                onClick: () => {
                    document.querySelector('.values').innerText = 
                        'text1: "' + data1__text + '"\ntext2: "' + data2__text + '"\ntext3: "' + data3__text + '"';
                }
            });
        })();
    </script>
    
    <hr/>
    <p>Knockout:</p>
    <div class=".knockoutContainer" >
        <div  style="display: flex; flex-direction: column;">
            <label>Text1:
                <div class="ko__data1__text" data-bind="dxTextBox: { value: data1__text},
                    dxValidator: {
                        validationRules: [ { type: 'required' } ]
                    }">
                </div>
            </label>
            
            <label>Validate text2:<div data-bind="dxCheckBox: { value: data2__needValidation}"></div></label>
            <label>Text2:
                <div data-bind="dxTextBox: { text: data2__text}, dxValidator: data2__text_validationOptions"></div>
            </label>
            
            <label>Validate text3:<div data-bind="dxCheckBox: { value: data3__needValidation}"></div></label>
            <label>Text3:<div data-bind="dxTextBox: { text: data3__text}"></div></label>
        </div>
        <div data-bind="dxButton: {text: 'Show validation summary', onClick: showValidationSummary__onClick}"></div>
        <div data-bind="dxValidationSummary: { }"></div>
        <div data-bind="dxButton: {text: 'Show Values', onClick: updateValuesText }"></div>
        <span data-bind="text: valuesText"></span>
    </div>
    <script>
        /*
        https://js.devexpress.com/Documentation/16_1/Guide/UI_Widgets/Basics/Widget_Basics_-_Knockout
        - from this topic it is not clear how to handle widget events when I am using components
        */
        'use strict';
        (function() {
            const validationGroup = 'knockout';
            class Model {
                constructor() {
                    const model__this = this;
                    this.validationGroup = validationGroup;

                    this.data1__text = ko.observable('11');

                    this.data2__needValidation = ko.observable(true);
                    this.data2__text = ko.observable();
                    this.data2__text_validationOptions = {
                        validationRules: [{
                            type: "required",
                        }],
                        onInitialized: (e) => {
                            const bypass_base = e.component.option('adapter').bypass;
                            e.component.option('adapter').bypass = function() {
                                if(model__this.data2__needValidation()) {
                                    return bypass_base.apply(this, arguments);
                                }
                                else {
                                    return true;
                                }
                            }
                        }
                    };

                    this.data3__needValidation = ko.observable(true);
                    this.data3__text = ko.observable('333');
                    this.valuesText = ko.observable();
                }
                updateValuesText() {
                    this.valuesText('text1: "' + this.data1__text() + '"\ntext2: "' + this.data2__text() + '"\ntext3: "' + this.data3__text() + '"');
                }
                showValidationSummary__onClick(e) {
                    //
                    // How to show validation summary on load ???
                    //
                    e.validationGroup.validate();
                }
            }

            ko.applyBindings(new Model(), document.querySelector('.knockoutContainer'));
        })();
    </script>

    <hr/>
    <p>jQuery:</p>
    <div class="jquery">
        <div  style="display: flex; flex-direction: column;">
            <label>Text1:<div class="jquery__data1__text"></div></label>
            <label>Validate text2:<div class="jquery__data2__check"></div></label>
            <label>Text2:<div class="jquery__data2__text"></div></label>
            <label>Validate text3:<div class="jquery__data3__check"></div></label>
            <label>Text3:<div class="jquery__data3__text"></div></label>
        </div>
        <div class="jquery__button__validate"></div>
        <div class="jquery__validationSummary"></div>
        <div class="jquery__button"></div>
        <div class="jquery__values"></div>
    </div>
    <script>
        $(function() {
            const validationGroup = 'jquery';
            let data1__text = '11';
            $('.jquery__data1__text').dxTextBox({
                value: data1__text,
                onValueChanged: e => data1__text = e.value,
            });
            $('.jquery__data1__text').dxValidator({
                validationGroup,
                validationRules: [ { type: 'required' } ]
            });
            $('.jquery__data1__text').dxValidator('instance').validate();

            let data2__needValidation = true;
            $('.jquery__data2__check').dxCheckBox({
                value: data2__needValidation,
                onValueChanged: e => {
                    data2__needValidation = e.value;
                    $('.jquery__data2__text').dxValidator('instance').validate();
                }
            });
            let data2__text = '2222';
            $('.jquery__data2__text').dxTextBox({
                value: data2__text,
                onValueChanged: e => data2__text = e.value,
            });
            $('.jquery__data2__text').dxValidator({
                validationGroup,
                validationRules: [ { type: 'required' } ],
                onInitialized: (e) => {
                    const bypass_base = e.component.option('adapter').bypass;
                    e.component.option('adapter').bypass = function() {
                        if(data2__needValidation) {
                            return bypass_base.apply(this, arguments);
                        }
                        else {
                            return true;
                        }
                    }
                },
            });
            $('.jquery__data2__text').dxValidator('instance').validate();

            let data3__needValidation = true;
            $('.jquery__data3__check').dxCheckBox({
                value: data3__needValidation,
                onValueChanged: e => {
                    data3__needValidation = e.value;
                    $('.jquery__data3__text').dxValidator('instance').validate();
                },
            });
            let data3__text = '333333';
            $('.jquery__data3__text').dxTextBox({
                value: data3__text,
                onValueChanged: (e) => {
                    data3__text = e.value;
                },
            });
            $('.jquery__data3__text').dxValidator({
                validationGroup,
                validationRules: [ 
                    { 
                        type: 'custom',
                        validationCallback: () => { 
                            if(data3__needValidation) {
                                return Boolean($('.jquery__data3__text').dxTextBox('instance').option('text')/*data3__text???*/);
                             }
                             else {
                                 return true;
                             }
                        },
                        message: 'My Required',
                        //
                        // the 'required' rule is evaluated each time the 'validate' method is called.
                        // but in my custom rule I have to specify this option explicitly
                        //
                        reevaluate: true,
                    }
                ],
            });
            $('.jquery__data3__text').dxValidator('instance').validate();

            $('.jquery__button__validate').dxButton({
                text: 'Show summary',
                validationGroup,
                onClick: e => e.validationGroup.validate(),
            });
            
            $('.jquery__validationSummary').dxValidationSummary({
                validationGroup,
            });

            $('.jquery__button').dxButton({
                text: 'Show values',
                onClick: () => {
                    $('.jquery__values').text('text1: "' + data1__text + '"\ntext2: "' + data2__text + '"\ntext3: "' + data3__text + '"');
                }
            });
        });
    </script>


    <hr/>
    <p>AngularJS:</p>
    <div ng-app="app1">
        <div ng-controller="Controller1">
            <div style="display: flex; flex-direction: column;">
                <label>Text1:
                    <div dx-text-box="" ng-model="data1__text"
                        dx-validator="{
                            validationGroup: validationGroup,
                            validationRules: [ { type: 'required' } ]
                        }">
                    </div>
                </label>
                <label>Validate text2:
                    <div dx-check-box="" ng-model="data2__needValidation"></div>
                </label>
                <label>Text2:
                    <div dx-text-box="" ng-model="data2__text"
                        dx-validator="data2__text__validatorOptions">
                    </div>
                </label>
                <label>Validate text3:
                    <div dx-check-box="" ng-model="data3__needValidation">
                    </div>
                </label>
                <label>Text3:
                    <div dx-text-box="" ng-model="data3__text" class="angularJS__data3__text"
                        dx-validator="data3__text__validatorOptions">
                    </div>
                </label>
            </div>
            <div dx-button="{ text: 'Show summary', onClick: showSummaryClickHandler, validationGroup: validationGroup}"></div>
            <div dx-validation-summary="{validationGroup: validationGroup,}"></div>
            <div dx-button="{ text: 'Show values', onClick: updateValuesText}"></div>
            <pre>{{valuesText}}</pre>
        </div>
    </div>
    <script>
        (function() {
            //
            // It's not clear how to access the event arguments object when handler is attached in markup:
            // https://js.devexpress.com/Documentation/Guide/Getting_Started/Widget_Basics_-_AngularJS/Handle_Events/
            //
            // Topic 'Handle events' shows wvent handler initialization in markup but it is not demonstrated in the demo:
            // https://js.devexpress.com/Demos/WidgetsGallery/Demo/Menu/Overview/AngularJS/Light/
            //
            
            const myApp = angular.module('app1', ['dx']);
            myApp.controller('Controller1', ['$scope', Controller1]);

            function Controller1($scope) {
                $scope.validationGroup = 'angularjs';

                $scope.data1__text = '11';

                $scope.data2__needValidation = true;
                $scope.$watch('data2__needValidation', () => $scope.data2__validator.validate(), true);

                $scope.data2__text = '';
                $scope.data2__text__validatorOptions = {
                    validationGroup: $scope.validationGroup,
                    validationRules: [ { type: 'required' } ],
                    onInitialized: (e) => {
                        $scope.data2__validator = e.component;
                        const bypass_base = e.component.option('adapter').bypass;
                        e.component.option('adapter').bypass = function() {
                            if($scope.data2__needValidation) {
                                return bypass_base.apply(this, arguments);
                            }
                            else {
                                return true;
                            }
                        }
                    },
                };

                $scope.data3__needValidation = true;
                $scope.$watch('data3__needValidation', () => $scope.data3__validator.validate(), true);

                $scope.data3__text = '333333';
                $scope.data3__text__validatorOptions = {
                    validationGroup: $scope.validationGroup,
                    validationRules: [ 
                        { 
                            type: 'custom',
                            validationCallback: () => { 
                                if($scope.data3__needValidation) {
                                    //
                                    // This validation rule for the target 'input' and its current 'text' should be checked.
                                    // The underlying bound property value should not be used, it can be unsynchronized with the 'input.text' value.
                                    //
                                    return Boolean($('.angularJS__data3__text').dxTextBox('instance').option('text')/*data3__text???*/);
                                }
                                else {
                                    return true;
                                }
                            },
                            message: 'My Required',
                            //
                            // the 'required' rule is evaluated each time the 'validate' method is called.
                            // but in my custom rule I have to specify this option explicitly
                            //
                            reevaluate: true,
                        }
                    ],
                    onInitialized: (e) => $scope.data3__validator = e.component,
                };

                $scope.updateValuesText = () => {
                    $scope.valuesText = 
                        'text1: "' + $scope.data1__text + '"\ntext2: "' + $scope.data2__text + '"\ntext3: "' + $scope.data3__text + '"';
                };

                $scope.showSummaryClickHandler = (e) => {
                    //
                    // How to show validation summary on load ???
                    //
                    e.validationGroup.validate();
                };
            }
        })();
    </script>

    <hr/>
    <p>Angular6:</p>
    <ul>
        <li>
            <a href="https://stackblitz.com/edit/internal-training-task41-devextreme?file=src%2Fapp%2Fapp.component.ts">https://stackblitz.com/edit/internal-training-task41-devextreme?file=src%2Fapp%2Fapp.component.ts</a>
        </li>
        <li>
            <a href="https://github.com/IgnatovDan/LearnDevExtreme/blob/master/_InternalCourse/task41_devextreme.angular_6.app.component.html">https://github.com/IgnatovDan/LearnDevExtreme/blob/master/_InternalCourse/task41_devextreme.angular_6.app.component.html</a>
        </li>
        <li>
            <a href="https://github.com/IgnatovDan/LearnDevExtreme/blob/master/_InternalCourse/task41_devextreme.angular_6.app.component.ts">https://github.com/IgnatovDan/LearnDevExtreme/blob/master/_InternalCourse/task41_devextreme.angular_6.app.component.ts</a>
        </li>
    </ul>

</body>
</html>