<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

    <!-- https://js.devexpress.com/Documentation/Guide/Getting_Started/Installation/CDN_Services/ -->

    <!-- DevExtreme dependencies -->
    <script type="text/javascript" src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.1.0.js"></script>
    <!-- The AngularJS library -->
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.11/angular.js"></script>
    <!-- The Knockout library -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/knockout/3.4.0/knockout-debug.js"></script>
    <!-- DevExtreme themes -->
    <link rel="stylesheet" type="text/css" href="https://cdn3.devexpress.com/jslib/18.1.3/css/dx.common.css" />
    <link rel="stylesheet" type="text/css" href="https://cdn3.devexpress.com/jslib/18.1.3/css/dx.light.css" />
    <!-- A DevExtreme library -->
    <script type="text/javascript" src="https://cdn3.devexpress.com/jslib/18.1.3/js/dx.all.debug.js"></script>
</head>
<body>
    <pre>
    DevExtreme - dxDataGrid with popup edit form

Implement dxDataGrid with a custom stand-alone popup edit form (without using the editing.mode 'popup').

a.Knockout approach
b.jQuery approach
c.Angular approach
    </pre>

    <script>
        const objectsArray = [{
            "ID": 0,
            "CompanyName": "Super Mart of the West",
            "Address": "702 SW 8th Street",
            "City": "Bentonville",
            "State": "Arkansas",
        }, {
            "ID": 1,
            "CompanyName": "Electronics Depot",
            "Address": "2455 Paces Ferry Road NW",
            "City": "Atlanta",
            "State": "Georgia",
        }, {
            "ID": 2,
            "CompanyName": "K&S Music",
            "Address": "1000 Nicllet Mall",
            "City": "Minneapolis",
            "State": "Minnesota",
        }];

        function GetChanges(initial, modified) {
            const result = {};
            for(prop in initial) {
                if(initial[prop] !== modified[prop]) {
                    result[prop] = modified[prop];
                }
            }
            return result;
        }
    </script>

    <hr/>
    <p>javascript/DOM</p>
    todo

    <hr/>
    <p>new dxDataGrid:</p>
    <div class="jsdx"></div>
    <div class="jsdxPopup"></div>
    <script>
        (function() {
            function createEditor({ obj, property, label = property }) {
                const labelEl = document.createElement('label');
                labelEl.innerText = label + ': ';

                const editorEl = document.createElement('div');
                const textBox = new DevExpress.ui.dxTextBox(editorEl, {
                    value: obj[property],
                    onValueChanged: (e) => obj[property] = e.value,
                });
                labelEl.appendChild(editorEl);
                return labelEl;
            }
            function showDetailsInPopupForm(createPopupContainerElementFunc, obj, saveFunc) {
                const popupContainerEl = createPopupContainerElementFunc();
                const dxPopup = new DevExpress.ui.dxPopup(popupContainerEl, {
                    title: 'Popup row editor',
                    contentTemplate: (container) => { 
                        if(!container.appendChild) {
                            //jQuery
                            container = container[0];
                        }
                        const editorsContainerEl = document.createElement('div');
                        editorsContainerEl.appendChild(createEditor({ obj, property: 'CompanyName', label: 'Company Name' }));
                        editorsContainerEl.appendChild(createEditor({ obj, property: 'Address' }));
                        editorsContainerEl.appendChild(createEditor({ obj, property: 'City' }));
                        editorsContainerEl.appendChild(createEditor({ obj, property: 'State' }));
                        container.appendChild(editorsContainerEl);

                        const buttonsContainerEl = document.createElement('div');
                        const saveButtonEl = document.createElement('button');
                        saveButtonEl.innerText = 'Save';
                        saveButtonEl.addEventListener('click', () => {
                            saveFunc(obj);
                            dxPopup.hide();
                        });
                        buttonsContainerEl.appendChild(saveButtonEl);

                        const cancelButtonEl = document.createElement('button');
                        cancelButtonEl.innerText = 'Cancel';
                        cancelButtonEl.addEventListener('click', () => {
                            dxPopup.hide();
                        });
                        buttonsContainerEl.appendChild(cancelButtonEl);

                        container.appendChild(buttonsContainerEl);                                            
                    },
                    onHidden: () => {
                        dxPopup.dispose();
                        popupContainerEl.remove();
                    },
                    closeOnOutsideClick: true,
                    visible: true
                });
            }

            const dxDataGrid = new DevExpress.ui.dxDataGrid(document.querySelector('.jsdx'),
                {
                    dataSource: objectsArray,
                    columns: [
                        'CompanyName', 'Address', 'City', 'State',
                        // {
                        //     allowFiltering: false,
                        //     allowSorting: false,
                        //     cellTemplate: (container, options) => {
                        //         const editEl = document.createElement('a');
                        //         editEl.classList.add('dx-link');
                        //         editEl.innerText = "MyEdit...";
                        //         editEl.addEventListener('click', (e) => {
                        //             ...
                        //     }
                        // }
                    ],
                    editing: {
                        allowUpdating: true,
                        allowAdding: true,
                        allowDeleting: true
                    },
                    onCellPrepared: (e) => {
                        if(e.rowType === 'data' && e.column.command === 'edit') {

                            let cellEl = e.cellElement;
                            if(!cellEl.appendChild) {
                                //jQuery
                                cellEl = cellEl[0];
                            }

                            cellEl.insertBefore(document.createTextNode('\u00A0'), cellEl.firstChild);

                            const editEl = document.createElement('a');
                            editEl.classList.add('dx-link');
                            editEl.innerText = "MyEdit...";
                            cellEl.insertBefore(editEl, cellEl.firstChild);

                            const key = e.key;

                            editEl.addEventListener(
                                'click', 
                                (e) => {
                                    dxDataGrid.byKey(key)
                                    .then(rowObj => {
                                        const obj = {};
                                        Object.assign(obj, rowObj);
                                        const objInitial = {};
                                        Object.assign(objInitial, obj);

                                        showDetailsInPopupForm(
                                            () => {
                                                const popupContainerEl = document.createElement('div');
                                                document.querySelector('.jsdxPopup').appendChild(popupContainerEl);
                                                return popupContainerEl;
                                            },
                                            obj,
                                            () => {
                                                dxDataGrid.getDataSource().store()
                                                    .update(key, GetChanges(objInitial, obj))
                                                    .done(() => dxDataGrid.refresh());
                                            });
                                    });
                                }
                            );
                        }
                    },
                }
            );
        })()
    </script>
    
    <hr/>
    <p>Knockout + dxDataGrid:</p>
    <div class="knockoutcontainer">
        <div data-bind="dxDataGrid: gridOptions"></div>

        <div data-bind="with: popup__model">
                <div data-bind="dxPopup: $parent.popupOptions">
                    <div data-options="dxTemplate: { name:'rowDetailsTemplate1' }">
                        <label>CompanyName:<div data-bind="dxTextBox: {text: CompanyName}"></div></label>
                        <label>Address:<div data-bind="dxTextBox: {text: Address}"></div></label>
                        <label>City:<div data-bind="dxTextBox: {text: City}"></div></label>
                        <label>State:<div data-bind="dxTextBox: {text: State}"></div></label>
                        <div data-bind="dxButton: {text: 'Save', onClick: save}"></div>
                        <div data-bind="dxButton: {text: 'Cancel', onClick: cancel}"></div>
                    </div>
                </div>
            </div>
        </div>
    <script>
        (function() {
            class MyModel {
                constructor({ dataSource = [] }) {
                    this.isPopupVisible = ko.observable(false);
                    this.popup__model = ko.observable(null);
                    this.popupOptions = {
                        contentTemplate: "rowDetailsTemplate1",
                        showTitle: true,
                        title: "Row details",
                        visible: this.isPopupVisible,
                        closeOnOutsideClick: true,
                        onInitialized: (e) => {
                            this.dxPopup = e.component;
                        },
                    };
                    this.gridOptions = {
                        dataSource,
                        columns: ['CompanyName', 'Address', 'City', 'State'],
                        editing: {
                            allowUpdating: true,
                            allowAdding: true,
                            allowDeleting: true
                        },
                        onInitialized: (e) => {
                            this.dxGrid = e.component;
                        },
                        onCellPrepared: (e) => {
                            if(e.rowType === 'data' && e.column.command === 'edit') {

                                let cellEl = e.cellElement;
                                if(!cellEl.appendChild) {
                                    //jQuery
                                    cellEl = cellEl[0];
                                }

                                cellEl.insertBefore(document.createTextNode('\u00A0'), cellEl.firstChild);

                                const editEl = document.createElement('a');
                                editEl.classList.add('dx-link');
                                editEl.innerText = "MyEdit...";
                                cellEl.insertBefore(editEl, cellEl.firstChild);

                                const key = e.key;

                                editEl.addEventListener(
                                    'click', 
                                    (e) => {
                                        this.dxGrid.byKey(key)
                                        .then(rowObj => {
                                            this.popup__objInitial = {};
                                            Object.assign(this.popup__objInitial, rowObj);

                                            this.popup__model({
                                                CompanyName: ko.observable(rowObj.CompanyName),
                                                Address: ko.observable(rowObj.Address),
                                                City: ko.observable(rowObj.City),
                                                State: ko.observable(rowObj.State),
                                                save: () => { this.popup__save(); },
                                                cancel: () => this.popup__cancel(),
                                                createObj: function() {
                                                    return {
                                                        CompanyName: this.CompanyName(),
                                                        Address: this.Address(),
                                                        City: this.City(),
                                                        State: this.State(),
                                                    }
                                                }
                                            });
                                            this.popup__key = key;
                                            this.isPopupVisible(true);
                                        });
                                    }
                                );
                            }
                        },
                    };
                }

                popup__save() {
                    this.dxGrid.getDataSource().store()
                        .update(this.popup__key, GetChanges(this.popup__objInitial, this.popup__model().createObj()))
                        .done(() => this.dxGrid.refresh());
                    this.dxPopup.hide();
                }
                popup__cancel() {
                    this.dxPopup.hide();
                }
            }
            ko.applyBindings(new MyModel({dataSource: objectsArray}), document.querySelector('.knockoutcontainer'));
        })()
    </script>

    <hr/>
    <p>jQuery:</p>
    <div class="jqueryGrid"></div>
    <div class="jqueryPopup"></div>
    <script>
        (function() {
            function createEditor({ obj, property, label = property }) {
                return $(document.createElement('label')).text(label + ': ').append(
                    $(document.createElement('div')).dxTextBox({
                        value: obj[property],
                        onValueChanged: (e) => obj[property] = e.value,
                    }));
            }
            function showDetailsInPopupForm(createPopupContainerElementFunc, obj, saveFunc) {
                const jqueryPopup = createPopupContainerElementFunc();
                jqueryPopup.dxPopup({
                    title: 'Popup row editor',
                    contentTemplate: (container) => { 
                        container
                        .append(
                            $(document.createElement('div'))
                            .append(createEditor({ obj, property: 'CompanyName', label: 'Company Name' }))
                            .append(createEditor({ obj, property: 'Address' }))
                            .append(createEditor({ obj, property: 'City' }))
                            .append(createEditor({ obj, property: 'State' }))
                        )
                        .append(
                            $(document.createElement('div'))
                            .append(
                                $(document.createElement('button')).dxButton({
                                    text: 'Save',
                                    onClick: () => {
                                        saveFunc(obj);
                                        jqueryPopup.dxPopup('instance').hide();
                                    }
                                })
                            )
                            .append(
                                $(document.createElement('button')).dxButton({
                                    text: 'Cancel',
                                    onClick: () => {
                                        jqueryPopup.dxPopup('instance').hide();
                                    }
                                })
                            )
                        );
                    },
                    onHidden: () => {
                        jqueryPopup.dxPopup('instance').dispose();
                        jqueryPopup.remove();
                    },
                    closeOnOutsideClick: true,
                    visible: true
                });
            }

            $('.jqueryGrid').dxDataGrid(
                {
                    dataSource: objectsArray,
                    columns: [
                        'CompanyName', 'Address', 'City', 'State',
                    ],
                    editing: {
                        allowUpdating: true,
                        allowAdding: true,
                        allowDeleting: true
                    },
                    onCellPrepared: (e) => {
                        if(e.rowType === 'data' && e.column.command === 'edit') {
                            const key = e.key;
                            let cellEl = e.cellElement;

                            $('<div></div>').html('&nbsp;').contents().prependTo(cellEl);
                            
                            $('<a/>').addClass('dx-link')
                                .text('MyEdit...')
                                .on('click', () => {
                                    $('.jqueryGrid').dxDataGrid('instance').byKey(key)
                                    .then(rowObj => {
                                        const obj = {};
                                        Object.assign(obj, rowObj);
                                        const objInitial = {};
                                        Object.assign(objInitial, obj);

                                        showDetailsInPopupForm(
                                            () => $(document.createElement('div')).appendTo('.jsdxPopup'),
                                            obj,
                                            () => {
                                                $('.jqueryGrid').dxDataGrid('instance').getDataSource().store()
                                                    .update(key, GetChanges(objInitial, obj))
                                                    .done(() => $('.jqueryGrid').dxDataGrid('instance').refresh());
                                            });
                                    });
                                })
                                .prependTo(cellEl);
                        }
                    },
                }
            );
        })()
    </script>

    <hr/>
    <p>AngularJS:</p>
    <div ng-app="app1">
        <div ng-controller="Controller1">
            <div dx-data-grid="gridOptions"></div>
            <div ng-init="popup__obj">
                <div dx-popup="popupOptions">
                    <div data-options="dxTemplate: { name: 'myEditTemplate' }">
                        <label>Company Name:<div dx-text-box="" data-ng-model="popup__obj.CompanyName"></div></label>
                        <label>Address:<div dx-text-box="" data-ng-model="popup__obj.Address"></div></label>
                        <label>City:<div dx-text-box="" data-ng-model="popup__obj.City"></div></label>
                        <label>State:<div dx-text-box="" data-ng-model="popup__obj.State"></div></label>
                        <div dx-button="{ text: 'Save', onClick: popup__saveChanges}"></div>
                        <div dx-button="{ text: 'Cancel', onClick: popup__cancel}"></div>                        
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        (function() {
            const myApp = angular.module('app1', ['dx']);
            myApp.controller('Controller1', ['$scope', Controller1]);

            function Controller1($scope) {
                $scope.isPopupVisible = false;

                $scope.popupOptions = {
                    contentTemplate: 'myEditTemplate',
                    title: 'My edit popup',
                    closeOnOutsideClick: true,
                    bindingOptions: {
                        visible: "isPopupVisible",
                    },
                    onInitialized: (e) => {
                        $scope.dxPopup = e.component;
                    },
                };

                $scope.gridDataSource = new DevExpress.data.DataSource(objectsArray);
                $scope.gridOptions = {
                    dataSource: $scope.gridDataSource,
                    columns: ['CompanyName', 'Address', 'City', 'State',],
                    editing: {
                        allowUpdating: true,
                        allowAdding: true,
                        allowDeleting: true
                    },
                    onInitialized: (e) => {
                        $scope.dxGrid = e.component;
                    },
                    onCellPrepared: (e) => {
                        if(e.rowType === 'data' && e.column.command === 'edit') {
                            let cellEl = e.cellElement;
                            if(!cellEl.appendChild) {
                                //jQuery
                                cellEl = cellEl[0];
                            }

                            cellEl.insertBefore(document.createTextNode('\u00A0'), cellEl.firstChild);

                            const editEl = document.createElement('a');
                            editEl.classList.add('dx-link');
                            editEl.innerText = "MyEdit...";
                            cellEl.insertBefore(editEl, cellEl.firstChild);

                            const key = e.key;

                            editEl.addEventListener(
                                'click', 
                                (e) => {
                                    $scope.dxGrid.byKey(key)
                                    .then(rowObj => {
                                        $scope.popup__key = key;
                                        $scope.popup__obj = {};
                                        Object.assign($scope.popup__obj, rowObj);
                                        $scope.popup__objInitial = {};
                                        Object.assign($scope.popup__objInitial, rowObj);
                                        $scope.$apply(() => $scope.isPopupVisible = true);
                                    });
                                }
                            );
                        }
                    },
                };

                $scope.popup__saveChanges = () => {
                    $scope.gridDataSource.store()
                        .update($scope.popup__key, GetChanges($scope.popup__objInitial, $scope.popup__obj))
                        .done(() => $scope.dxGrid.refresh());
                    $scope.dxPopup.hide();
                }
                $scope.popup__cancel = () => {
                    $scope.dxPopup.hide();
                }
            }
        })();
    </script>

    <hr/>
    <p>Angular6:</p>
    todo
    
</body>
</html>